:root {
  --blue-color: #41e1ba;
  --white-color: #fff;
  --red-color: #ef5d50;
  --black-color: #000;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--blue-color);
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background: var(--red-color);
}

.hidden {
  display: none;
}

.pomodoro {
  background: var(--white-color);
  margin: 50px 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pomodoro h2 {
  font-size: 24px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.pomodoro button {
  background: var(--blue-color);
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  color: var(--black-color);
  transition: background-color 300ms ease-in-out;
  margin: 20px auto;
  border-radius: 2px;
}

.pomodoro .details {
  margin: 20px 0;
}

.working .pomodoro button {
  background: var(--red-color);
  color: var(--white-color);
}
